*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart-page{
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cart-header{
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.sign-in-btn{
    width: 120px;
    height: 90%;
    background-color: #262626;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0 0 0 1em;
    cursor: pointer;
}
.cart-text{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    color: white;
    margin-left: 1em;
}
.your-ord-btn{
    width: auto;
    height: 40px;
    background-color: white;
    color: black;
    padding: 0 0.7em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em;
}
.cart-comp{
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, #000000, #434343, #0d0d0d); 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cart-dish-display{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    margin: auto 0;
}
/* scroll bar for comments  */
.cart-dish-display::-webkit-scrollbar {
    width: 6px;
}
.cart-dish-display::-webkit-scrollbar-track {
    background: transparent; 
}
.cart-dish-display::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px; 
}
.cart-dish-display::-webkit-scrollbar-thumb:hover {
    background: #f2f2f2; 
}
.cart-dish-display-ul{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.cart-dish-display-ul-li{
    width: 95%;
    height: auto;
    text-decoration: none;
    margin: 0.5em 0 0 0;
}
.cart-dish-display-empty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-checkout-comp{
    width: 25%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1em 0;
    border-radius: 5px;
    overflow: hidden;
}
.cart-checkout-text{
    width: 100%;
    height: 40px;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    text-align: left;
    padding: 0.2em 0.6em;
}
.cart-checkout-items-total-display{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.items-total-display{
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.items-total{
    font-size: 1.2em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0 0.2em;
}
.cart-checkout-total{
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 0.5em 0 0 0;
}
.proceed-to-checkout-btn{
    width: 80%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 1em 0 0 0;
}
.proceed-to-checkout-btn img{
    width: 40px;
    height: 40px;
}
.proceed-to-checkout-btn p{
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    color: white;
}

@media screen and (max-width: 1025px){
    .cart-checkout-comp{
        width: 28%;
    }
    .proceed-to-checkout-btn{
        font-size: 1em;
    }
}

@media screen and (max-width: 840px){
    .cart-page{
        height: auto;
        margin: 0.5em 0 0 0;
    }
    .cart-header{
        width: 100%;
    }
    .cart-text{
        margin-left: 0.8em;
    }
    .cart-comp{
        height: auto;
        flex-direction: column;
    }
    .cart-dish-display{
        width: 100%;
        height: 70vh;
        margin: 0.5em 0;
    }
    .cart-dish-display-ul-li{
        width: 96%;
        margin: 1em 0 0 0;
    }
    .cart-checkout-comp{
        width: 100%;
        margin: 0.5em 0 0 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .proceed-to-checkout-btn{
        width: 300px;
    }
}

@media screen and (max-width: 430px){
    .cart-checkout-comp{
        height: 335px;
    }
    .cart-text{
        margin-left: 0.5em;
        font-size: 1em;
    }
    .proceed-to-checkout-btn{
        height: 50px;
        font-size: 1.1em;
    }
    .your-ord-btn{
        height: 35px;
        font-size: 0.9em;
        padding: 0 0.5em;
        margin-right: 0.5em;
    }
}