*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error-comp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-comp img{
    width: 70%;
    height: 90%;
}

@media screen and (max-width: 430px){
    .error-comp img{
        height: 50%;
    }
}